.itemq {
    &-enter {
        opacity: 0;

        &-active {
            opacity: 1;
            transition: opacity 1000ms ease-in;
        }

        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: opacity 500ms ease-in;
            }
        }
    }
}

.ant-btn-primary {
    background-color: #FE5F1E;
}

.cart {
    button {
        cursor: pointer;
    }

    &__container {
        margin: 0 224px 0 294px;
    }

    &__header {
        margin: 140px 0 30px 0;
    }

    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 190px;
    }

    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        font-weight: 400;
        font-size: 16px;
        color: #B6B6B6;
        cursor: pointer;

        svg {
            max-width: 20px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 820px;
        height: 140px;
        border-top: #F4F4F4 1px solid;

        &_img {
            max-width: 80px;
            height: 80px;
        }

        &_main-info {
            display: flex;
            width: 320px;
            height: 80px;

        }

        &_info {
            margin: 15px 5px 0 14px;

            &_title {
                min-width: 250px;
                font-weight: 700;
                font-size: 22px;
            }

            &_subtitle {
                font-weight: 400;
                font-size: 18px;
                color: #8D8D8D;

            }
        }

        &_quantity {
            button {
                margin: 0 12px;
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                color: #FE5F1E;
                border: 2px solid #FE5F1E;
                border-radius: 100%;

                &:hover {
                    color: #FFFFFF;
                    background: #FE5F1E;
                }
            }

            span {
                font-weight: 700;
                font-size: 22px;
            }
        }

        &_close {
            cursor: pointer;
            width: 32px;
            height: 32px;
            background: #FFFFFF;
            color: #D7D7D7;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 820px;

        &_quantity {
            &-total {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }

        }

        &-back {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #D3D3D3;
            width: 211px;
            height: 55px;
            background: #FFFFFF;
            border: 1px solid #D3D3D3;
            border-radius: 30px;

            &:hover {
                background: rgb(230, 225, 225);
                color: white;
            }

            &:active {
                background: grey;
                color: white;
            }
        }

        &_total {
            &-price {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }
        }
    }
}