.itemq {
    &-enter {
        opacity: 0;

        &-active {
            opacity: 1;
            transition: opacity 1000ms ease-in;
        }

        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: opacity 500ms ease-in;
            }
        }
    }
}

.ant-btn-primary {
    background-color: #FE5F1E;
}

.cart {
    button {
        cursor: pointer;
    }

    &__container {
        margin: 0 224px 0 294px;
    }

    &__header {
        margin: 140px 0 30px 0;
    }

    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 190px;
    }

    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        font-weight: 400;
        font-size: 16px;
        color: #B6B6B6;
        cursor: pointer;

        svg {
            max-width: 20px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 820px;
        height: 140px;
        border-top: #F4F4F4 1px solid;

        &_img {
            max-width: 80px;
            height: 80px;
        }

        &_main-info {
            display: flex;
            width: 320px;
            height: 80px;

        }

        &_info {
            margin: 15px 5px 0 14px;

            &_title {
                min-width: 250px;
                font-weight: 700;
                font-size: 22px;
            }

            &_subtitle {
                font-weight: 400;
                font-size: 18px;
                color: #8D8D8D;

            }
        }

        &_quantity {
            button {
                margin: 0 12px;
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                color: #FE5F1E;
                border: 2px solid #FE5F1E;
                border-radius: 100%;

                &:hover {
                    color: #FFFFFF;
                    background: #FE5F1E;
                }
            }

            span {
                font-weight: 700;
                font-size: 22px;
            }
        }

        &_close {
            cursor: pointer;
            width: 32px;
            height: 32px;
            background: #FFFFFF;
            color: #D7D7D7;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 820px;

        &_quantity {
            &-total {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }

        }

        &-back {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #D3D3D3;
            width: 211px;
            height: 55px;
            background: #FFFFFF;
            border: 1px solid #D3D3D3;
            border-radius: 30px;

            &:hover {
                background: rgb(230, 225, 225);
                color: white;
            }

            &:active {
                background: grey;
                color: white;
            }
        }

        &_total {
            &-price {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }
        }
    }
}

@media (max-width: 992px) {
    .cart {
        &__container {
            margin: 0;
        }

        &__header {
            justify-content: space-around;
        }

        &__item {
            max-width: 700px; ///
            height: 140px;
        }

        &__footer {
            justify-content: space-between;
            max-width: 650px;

            &_total {
                width: 260px;
            }
        }
    }
}

@media (max-width: 768px) {
    .cart {
        &__item {
            max-width: 590px;
        }
        &__footer {
            max-width: 600px;
            &_total-price {
                font-size: 20px;
            }
            &__quantity-total {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &__title {
            font-size: 20px;
            width: 130px;
            gap: 7px;
        }

        &__item {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            position: relative;

            svg {
                position: absolute;
                right: 0;
                top: 0;
            }

            &_main-info {
                display: grid;
                grid-template-rows: auto auto auto;
                min-width: 295px;
                text-align: center;

                img {
                    margin: 0 auto;
                }
            }

            &_info_title {
                max-width: 180px;
                font-weight: 700;
                font-size: 16px;
            }

            &_price {
                font-size: 25px;
                font-weight: bold;
            }
        }

        &__footer {
            flex-direction: column-reverse;
            align-items: center;
            margin: 0 auto;
            gap: 20px;
            width: 300px;

            &_total {
                width: 230px;
                text-align: center;
                &-price {
                    width: 250px;
                }
            }
        }

        &__clear {
            font-size: 12px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

