    header {
        display: flex;
        justify-content: space-between;

        .header__logo {
            display: flex;
            align-items: center;
            gap: 17px;
            text-decoration: none;
            color: black;

            img {
                max-width: 38px;
                height: 38px;
            }

            &-content {
                width: 316px;

                &-title {
                    font-weight: 800;
                    font-size: 24px;
                }

                &-subtitle {
                    font-weight: 400;
                    font-size: 16px;
                    color: #7B7B7B;
                }
            }
        }

        .header__cart__btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 150px;
            height: 50px;
            font-weight: 700;
            font-size: 16px;
            color: #ffff;
            background: #FE5F1E;
            border-radius: 30px;
            padding: 0 23px 0 23px;
            text-decoration: none;

            img {
                max-width: 16px;
                height: 16px;
            }

            div {
                display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 32px;
            }
        }
    }